/* src/Estilosao/tabela.css */

:root {
    --azul: #022e4c;
    --vermelho: #ce0f2d;
    --branco: #ffffff;
    --cinza_claro: #e5e5e5;
    --cinza_escuro: #666968;
}

/* Container para a grade de cards */
.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 5px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo individual de cada card de produto */
.produto-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    position: relative;
    width: 255px;
    height: auto;
    margin-bottom: 20px;
    flex-shrink: 0;
    background-color: #dcdbdb;
    border: 2px solid #dcdbdb;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .produto-imagem {
        width: 100%;
        height: 180px;
        min-height: 180px;
        object-fit: contain;
        object-position: center;
        background-color: #fff;
        border-bottom-right-radius: 11px;
        border-bottom-left-radius: 11px;
    }

    .produto-info {
        padding: 15px;
        display: flex;
        flex-direction: column;
        background-color: #dcdbdb;
        width: 100%;
        height: 100%;

        .produto-nome {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: #333;
            line-height: 1.4;
            margin: 0 0 10px;
            padding: 0 5px;
        }

        p {
            font-size: 12px;
            color: #666;
            margin: 1px 0;
            text-align: left;
        }

        span {
            font-weight: bold;
            color: #333;
        }
    }

}

.produto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(4, 2, 64, 0.272);
}

.add-carrinho {
    width: 80%;
    padding: 12px 10px;
    margin-top: 15px;
    margin-left: 20%;
    border: none;
    border-radius: 20px;
    background-color: var(--vermelho);
    color: #fff;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-carrinho:hover {
    background-color: #a80c25;
}

/* Controles de paginação */
.tabela-controle {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    gap: 10px;
}

.tabela-controle button {
    padding: 8px 16px;
    font-size: 0.95rem;
    background-color: var(--vermelho);
    color: var(--branco);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.tabela-controle button:hover {
    background-color: var(--azul);
    transition: 0.2s;
    color: var(--branco);
}

.tabela-controle button:disabled {
    background-color: var(--cinza_escuro);
    cursor: not-allowed;
}

.tabela-controle .botao-proximo {
    background-color: var(--azul);
    color: #fff;
}

.tabela-controle .botao-proximo:hover {
    background-color: var(--vermelho);
}

.tabela-controle .botao-proximo:disabled {
    background-color: var(--cinza_escuro);
}

.paginacao-info {
    text-align: center;
    flex: 1;
    color: var(--azul);
}

/* Estilos para o estado de carregamento */
.tabela-carregando {
    text-align: center;
    margin-top: 2rem;
    color: var(--azul);
}