/* =======================================
// ESTILOS PADRÃO (MOBILE-FIRST)
// ======================================= */

.categorias_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
}

/* Container do carrossel (padrão mobile) */
.carousel-wrapper {
  display: flex;
  width: 100%;
  overflow-x: auto;
  /* Permite a rolagem horizontal */
  justify-content: flex-start;
  padding: 10px 0;

  /* Oculta a barra de rolagem para um visual mais limpo */
  -ms-overflow-style: none;
  /* IE e Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome e Safari */
  }
}

/* Estilo do item de categoria no carrossel */
.categorias_grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.categorias_grid button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 54px;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.2s;
  flex-shrink: 0;
  /* Impede que os itens encolham */

  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }
}

.categoria_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  background-color: var(--azul);
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  img {
    width: 34px;
    height: 34px;
  }
}

.categorias_grid p {
  width: 60px;
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--azul);
  padding-top: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;

}

/* =======================================
// MEDIA QUERIES PARA TABLETS E DESKTOP
// ======================================= */

@media (min-width: 768px) {
  .categorias_container {
    padding: 20px 0;
  }

  /* Desativa o carrossel e ativa o grid */
  .carousel-wrapper {
    overflow-x: hidden;
    /* Remove a rolagem horizontal */
  }

  .categorias_grid {
    flex-wrap: wrap;
    /* Permite que os itens quebrem a linha */
    justify-content: center;
    /* Centraliza o grid */
    gap: 2rem;
    /* Espaçamento maior entre os itens */
  }

  .categorias_grid button {
    width: 100px;
    /* Aumenta a largura dos botões */
    flex-shrink: 1;
    /* Permite que os itens encolham, se necessário */

    &:hover {
      transform: scale(1.1);
      /* Efeito de hover mais pronunciado */
    }
  }

  .categoria_img {
    width: 95px;
    height: 95px;

    img {
      width: 50%;
      height: 50%;
    }
  }

  .categorias_grid p {
    width: 100px;
    font-size: 0.1rem;
    padding-top: 15px;
  }
}

/* Media query para telas grandes (desktops) */
@media (min-width: 1240px) {
  .categorias_grid {
    margin: 0 auto;
    gap: 1.5rem;
  }

  .categorias_grid button {
    width: auto;
  }

  .categorias_grid button p {
    width: 95px;
    font-size: 0.75rem;
  }
}