.categorias_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    box-sizing: border-box;

    .carousel-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        /* Esconde as setas por padrão em desktop */
        .carousel-arrow {
            display: none;
        }
    }

    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: none;
        border: none;
        cursor: pointer;
        width: 110px;
        color: var(--azul);
        padding: 10px;

        .categoria_img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            background-color: var(--azul);
            border-radius: 50%;

            img {
                width: 50px;
                height: 50px;
            }
        }

        p {
            width: 110px;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--azul);
            padding-top: 15px;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }

    button:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
    }
}


/* =======================================
// MEDIA QUERIES PARA RESPONSIVIDADE
// ======================================= */


/* Telas de tablet (tamanho entre 768px e 1470px) */
@media (max-width: 1470px) {
    .categorias_container {
        padding: 40px 0;

        .carousel-wrapper {
            width: 100%;

            .carousel-arrow {
                display: block;
                background: #1a932c;
                border: none;
                width: 40px;
                height: 40px;
                font-size: 24px;
                cursor: pointer;
                z-index: 10;
                transition: background-color 0.2s, color 0.2s;
                margin: 20px;

                &:hover {
                    background-color: #f0f0f0;
                    color: #ce0f2d;
                    border: 1px solid #ce0f2d;
                }

                .left {
                    margin-right: 15px;
                }

                .right {
                    margin-left: 15px;
                }

            }

        }

        .carousel-items {
            justify-content: flex-start;
            flex-wrap: nowrap;
            overflow-x: auto;

            border: 1px solid green;

            // Ocutando a barra de rolagem nos navegadores
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

/* Telas de celular (tamanho até 767px) */
@media (max-width: 767px) {
    @media (max-width: 767px) {
        .categorias_container {
            padding: 20px 0;
        }

        .carousel-items button {
            width: 90px;

            .categoria_img {
                width: 70px;
                height: 70px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            p {
                width: 90px;
                font-size: 11px;
            }
        }

        .carousel-arrow {
            width: 30px;
            height: 30px;
            font-size: 18px;
        }
    }
}