/* footer.scss */

/* -------------------------------------------------------------------------- */
/* Variáveis e Estilos Globais */
/* -------------------------------------------------------------------------- */

.body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.footer-container {
    background-color: #21354a;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    /* Margem padrão para mobile */
    box-sizing: border-box;
    color: #fff;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* Define a cor do texto para o container principal */
}

/* Estilo do botão de "Voltar ao Início" */
.footer-top {
    background-color: #4a6c8b;
    text-align: center;
    padding: 5px 0;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.back-to-top {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;

    &:hover {
        color: #c0c0c0;
    }
}

/* -------------------------------------------------------------------------- */
/* Estilos Principais (MOBILE-FIRST) */
/* -------------------------------------------------------------------------- */

.footer-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 15px;
    box-sizing: border-box;

    .footer-section {
        text-align: left;
        padding: 0 10px;

        h4 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        p,
        a,
        li {
            font-size: 0.8rem;
        }
    }
}

/* Estilos para a seção "Sobre nós" */
.about-us {
    flex: 0 0 60%;
    display: block;

    p {
        font-size: 0.6rem;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .contact-info {
        p {
            font-size: 0.7rem;
            margin: 5px 0;
            display: flex;
            align-items: center;

            span {
                margin-right: 5px;

                img {
                    width: 12px;
                }
            }
        }
    }
}


/* Estilos para a seção de links */
.links {

    flex: 0 0 40%;

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 0.9rem;
        transition: color 0.3s;

        &:hover {
            text-decoration: underline;
            color: #c0c0c0;
        }
    }
}

/* Estilos para a seção de formulário de contato */
.contact-form {

    display: none;

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    input,
    textarea {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        padding: 12px;
        color: #fff;
        font-size: 0.9rem;

        &::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    textarea {
        height: 100px;
        resize: none;
    }
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;

    a {

        transition: opacity 0.2s ease, transform 0.2s ease;

        img {
            width: 30px;
        }

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }

}

/* Rodapé inferior */
.footer-bottom {
    background-color: #1a293a;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #3d4d5e;

    p {
        color: #4a6c8b;
        padding: 15px 0;
    }
}

/* -------------------------------------------------------------------------- */
/* Estilos para Desktop (SOBRESCRITA) */
/* -------------------------------------------------------------------------- */
@media (min-width: 769px) {

    .footer-container {
        margin-top: 60px;
    }

    .back-to-top {
        font-size: 1rem;
    }

    .footer-main {
        flex-direction: row;
        /* Volta a ser uma linha no desktop */
        justify-content: space-between;
        padding: 50px 100px;
        /* Padding para desktop */
        gap: 100px;
        flex-wrap: nowrap;
        /* Impede a quebra de linha */

        .footer-section {
            flex: 1 1 40%;
            min-width: 250px;
            text-align: left;

            /* A seção "Sobre nós" ocupa mais espaço */
            &:nth-child(1) {
                flex: 2 1 60%;
            }

            h4 {
                margin-bottom: 20px;
            }

            .about-us {
                p {
                    font-size: 0.9rem;
                    margin-bottom: 50px;
                }
            }

            .contact-info {
                justify-content: flex-start;
                /* Alinha à esquerda no desktop */
                margin: 5px 0;
                font-size: 0.8rem;

                span {
                    margin-right: 10px;

                    img {
                        width: 17px;
                    }
                }
            }

            .social-links {
                justify-content: flex-start;
            }
        }
    }

    .contact-form {
        display: block;

        form {
            align-items: stretch;
        }
    }

    /* Rodapé inferior */
    .footer-bottom {
        font-size: 0.8rem;
        border-top: 1px solid #3d4d5e;

    }
}