/* =======================================
// ESTILOS GERAIS DO COMPONENTE
// ======================================= */

.brands {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px 20px;

    h2 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
        text-align: center;
    }

}


.brands_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); // 6 colunas para telas grandes
    gap: 15px;
    justify-content: center;

    button {
        background-color: #0d1e37;
        border: none;
        border-radius: 8px;
        padding: 20px;
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
        width: 237px;
        height: 224px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        :hover {
            transform: translateY(-5px); // Efeito de elevação ao passar o mouse
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        .brand_img {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px; // Espaço entre a imagem e o texto

            img {
                width: 100px;
                height: auto;
                border-radius: 15px;
                filter: brightness(0) invert(1); // Transforma o logo em branco para combinar com o fundo escuro
            }

            p {
                color: white;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: bold;
                margin: 0;
                text-transform: uppercase;
            }

        }

    }
}


/* =======================================
// RESPONSIVIDADE PARA DIFERENTES TELAS
// ======================================= */

@media (max-width: 1200px) {
    .brands_container {
        grid-template-columns: repeat(4, 1fr); // 4 colunas em telas menores
    }
}

@media (max-width: 768px) {
    .brands_container {
        grid-template-columns: repeat(3, 1fr); // 3 colunas em tablets
    }
}

@media (max-width: 500px) {
    .brands_container {
        grid-template-columns: repeat(2, 1fr); // 2 colunas em celulares
    }
}

