/* Arquivo: brands.scss */

/* -------------------------------------------------------------------------- */
/* ESTILOS PADRÃO (MOBILE-FIRST) */
/* -------------------------------------------------------------------------- */

.brands {
    display: none; /* Esconde o componente por padrão no mobile */
}

/* -------------------------------------------------------------------------- */
/* ESTILOS PARA DESKTOP E TELAS MAIORES */
/* -------------------------------------------------------------------------- */

@media (min-width: 768px) {
    .brands {
        display: flex; /* Exibe o componente a partir de 768px */
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 70px 0;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;

        h2 {
            letter-spacing: 1.5px;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    .brands_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 colunas em telas maiores */
        gap: 15px;
        justify-content: center;

        button {
            background-color: #0d1e37;
            border: none;
            border-radius: 8px;
            padding: 20px;
            cursor: pointer;
            transition: transform 0.2s, box-shadow 0.2s;
            width: 237px;
            height: 224px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .brand_img {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                img {
                    width: 100px;
                    height: auto;
                }

                p {
                    color: white;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    margin: 0;
                    text-transform: uppercase;
                }
            }
        }

        button:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .brands_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .brands_container {
        grid-template-columns: repeat(3, 1fr);
    }
}