.categorias_container {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    margin: 0 98px;
    border: 1px solid #ff0000ff;
}

.categorias_container button {
    display: block;
    border: none;
    cursor: pointer;
    background: none;
    width: 90px;

    border: 1px solid rgb(33, 211, 218);
}

.categoria_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: var(--azul);
    border-radius: 50%;
}

.categoria_img img {
    width: 50px;
    height: 50px;
}

.categorias_container p {
    width: 90px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--azul);
    padding-top: 20px;
    border: 1px solid red;
}