.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 98px;
    background: #fff;
    box-sizing: border-box;
    gap: 30px;
    width: 100%;
}

.menu-btn img {
    width: 53px;
    height: 35px;
}

.header .logo img {
    width: 75px;
    height: 62px;
}

.header .header-busca {
    flex: 1;
    padding-right: 100px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cadastro-btn {
    width: 36px;
    height: 36px;
}

.carrinho-btn {
    width: 45px;
    height: 43px;
}

button {
    display: flex;
    background: none;
    border: none;
    color: var(--azul);
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    gap: 5px;

}

button:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}