:root {
  --azul: #022e4c;
  --vermelho: #ce0f2d;
  --cinza_claro: #d7d8d8;
  --cinza_escuro: #666968;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 98px 10px 10px;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  gap: 10px;
}

.menu-btn img {
  width: 54px;
  height: 37px;
  margin-right: 2px;
  cursor: pointer;
}

.header .logo img {
  display: flex;
  align-items: center;
  margin-right: 16px;
  width: 75px;
  height: 62px;
}


.header .search-container {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin-right: 24px;
}

.header .search-input {
  flex: 1;
  padding: 10px 16px;
  border: 2px solid #16384c;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.header .search-icon {
  margin-left: -32px;
  color: #16384c;
  font-size: 20px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-btn, .cadastro-btn, .carrinho-btn {
  background: none;
  border: none;
  color: #16384c;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cadastro-btn .user-icon {
  font-size: 22px;
}

.carrinho-btn .cart-icon {
  font-size: 24px;
}

.cadastro-btn {
  font-weight: 600;
}

.carrinho-btn {
  font-weight: 600;
}